.background {
    -fx-background-color: #f5f2f2;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #0c0c0c;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #090909;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #111111;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #fafafa;
    -fx-control-inner-background: #fafafa;
    -fx-background-color: #fcfcfc;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1f1f1f;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #efe7e7 transparent #f8ecec;
    -fx-background-color: transparent, derive(#f1eeee,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#efefef,20%);
}

.context-menu {
    -fx-background-color: derive(#d7d0d0,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #090909;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #f5f1f1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #151111;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #fffefe;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #695656;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #0e0d0d;
    -fx-text-fill: #ffffff;
}

.button:focused {
    -fx-border-color: #f30303, #ff0000;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #ece5e5;
    -fx-text-fill: #ef0000;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #3b1919;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.tab-pane {
    -fx-background-color: #693838;
}
.tab {
    -fx-background-color: #333333;
}
.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, #333333;
}
.tab-label {
    -fx-text-fill: #e6e6e6;
}
.tab:selected .tab-label {
    -fx-text-fill: #09f3f3;
}
.tab:selected {
    -fx-background-color: #ef0505;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #4d1a4dff;
}